<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array/>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>CFBundleURLSchemes</key>
			<array/>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array/>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.681087587207-03jvsf5mifa2d39m9poq35s5s1u8c3f3</string>
			</array>
		</dict>
	</array>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>NSAppClip</key>
	<dict>
		<key>NSAppClipRequestEphemeralUserNotification</key>
		<false/>
		<key>NSAppClipRequestLocationConfirmation</key>
		<false/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>PFBeauSansPro-Thin.ttf</string>
		<string>PFBeauSansPro-SemiBold.ttf</string>
		<string>PFBeauSansPro-Regular.ttf</string>
		<string>PFBeauSansPro-Light.ttf</string>
		<string>PFBeauSansPro-Italic.ttf</string>
		<string>helveticacyrillicupright.ttf</string>
		<string>UZSans-Bold.ttf</string>
		<string>UZSans-Light.ttf</string>
		<string>UZSans-Medium.ttf</string>
		<string>UZSans-Regular.ttf</string>
		<string>UZSans-SemiBold.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
